.page {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.page h1 {
  text-align: center;
}

.content-area {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 2rem;
}

.content-area img {
  width: 50%;
  height: fit-content;
  display: block;
}
.content {
  margin-left: 3rem;
  width: 130%;
}

.content p {
  width: 130%;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
}
.comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: beige;
}
.comment p {
  margin-top: -1rem;
}

.reaction {
  display: flex;
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 3rem;
}

.reaction button {
  padding: 5px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  color: white;
  width: 25%;
}
.like {
  background-color: rgb(38, 132, 255);
}
.cute {
  background-color: rgb(255, 144, 163);
}
.hot {
  background-color: rgb(255, 0, 43);
}
.cool {
  background-color: gold;
}

.comment-area {
  width: 100%;
  margin-top: 1rem;
}

.comment-area textarea {
  width: 100%;
  padding: 1rem;
  max-width: -webkit-fill-available;
}

.image-modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.96);
  align-items: center;
  justify-content: center;
}
.image-modal img {
  max-height: 100vh;
  height: auto;
  max-width: 100vw;
  position: absolute;
}
